@font-face {
    font-family: Apetite New;
    src: url(../fonts/Appetite_New.otf);
}
@font-face {
    font-family: Museo Light;
    src: url(../fonts/MUSEOSANSCYRL_0.OTF);
}
@font-face {
    font-family: Museo Normal;
    src: url(../fonts/MUSEOSANSCYRL_1.OTF);
}
@font-face {
    font-family: Museo Medium;
    src: url(../fonts/MUSEOSANSCYRL_2.OTF);
}
@font-face {
    font-family: Museo Bold;
    src: url(../fonts/MUSEOSANSCYRL_3.OTF);
}
@font-face {
    font-family: Museo Black;
    src: url(../fonts/MUSEOSANSCYRL.OTF);
}