.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    height: 16vh;
}
.header__mobile-menu {
    display: none;
}




.header__logo-container {
    display: flex;
    align-items: center;
    align-content: flex-start;
}
.header__logo {
    width: 14.5vw;
    height: 6.5vw;
}
.header__title {
    font-family: Museo Light;
    font-size: 0.75vw;
    padding-left: 1.2vw;
}




.header__location-container {
    display: flex;
    align-items: center;
    padding-left: 6.8vw;
}
.header__map-icon {
    width: 4vw;
    height: 4vw;
}
.header__location-text {
    height: 3.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 1.1vw;
}
.header__address {
    font-family: Museo Medium;
    font-style: normal;
    font-size: 0.85vw;
}
.header__map-hover-link {
    font-family: Museo Medium;
    font-size: 0.7vw;
    line-height: 1vw;
    text-decoration: none;
    color: #ff6078;
    border-bottom: 1px dotted #ff6078;
    transition: 0.3s;
    cursor: pointer;
}
.map-display {
    position: absolute;
    top: 5.8vw;
    height: 20vw;
    width: 20vw;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    
}
.header__map-hover-link:hover {
    color: lightblue;
    border-bottom: 1px dotted lightblue;
    transition: 0.3s;
}
.header__map-hover-link:hover > .map-display {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}



.header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 4.5vw;
    padding-left: 4vw;
}
.header__contact-info {
    display: flex;
    align-items: center;
}
.header__phone-icon-container,
.header__time-icon-container {
    height: 1.9vw;
    width: 1.9vw;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__contact-info-text,
.header__time-text{
    padding-left: 0.6vw;
}
.header__appeal-to-call {
    display: flex;
    align-items: center;
}
.circle {
    border-radius: 50%;
}
.circle_green {
    height: 0.4vw;
    width: 0.4vw;
    background: #27b24b;
}
.circle_red {
    height: 0.4vw;
    width: 0.4vw;
    background: rgb(149, 8, 15);
}
.header__appeal-text {
    padding-left: 0.46vw;
    font-family: Museo Medium;
    font-size: 0.75vw;
}
.phone-link {
    font-family: Museo Bold;
    font-size: 1.4vw;
    text-decoration: none;
    color: #000;
}
.header__phone-icon,
.header__time-icon {
    height: 0.83vw;
    width: 0.83vw;
}


.header__work-hours {
    display: flex;
    align-items: center;
}
.header__time-text {
    font-family: Museo Medium;
    font-size: 0.9vw;
}

.navigation_mobile {
    display: none;
}

.schedule-button {
    height: 3vw;
    width: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    border: 0.14vw solid transparent;
    background: #ffffff;
    box-shadow: 0vw 0.2vw 0 0 #ebeaea;
    outline: none;
    cursor: pointer;
}
.schedule-button:focus {
    border: 0.14vw solid black;
}
.scedule-button__icon {
    height: 1vw;
    width: 1vw;
}
.scedule-button__text {
    font-family: Museo Medium;
    font-size: 1vw;
    padding-left: 0.5vw;
}





























@media (max-width: 992px) {
    .header__logo {
        width: 140px;
        height: 60px;
    }
    .header__title {
        font-size: 8px;
        padding-left: 10px;
    }
    .header__location-container {
        padding-left: 20px;
    }
    .header__map-icon {
        width: 30px;
        height: 30px;
    }
    .header__location-text {
        height: 36px;
        padding-left: 9px;
    }
    .header__address {
        font-size: 8px;
    }
    .header__map-hover-link {
        font-size: 8px;
        line-height: 12px;
    }
    .map-display {
        top: 70px;
        height: 300px;
        width: 300px;
        
    }
    .header__info {
        height: 44px;
        padding-left: 30px;
    }
    .header__phone-icon-container,
    .header__time-icon-container {
        height: 20px;
        width: 20px;
    }
    .header__contact-info-text,
    .header__time-text{
        padding-left: 6px;
    }
    .circle_green {
        height: 6px;
        width: 6px;
        background: #27b24b;
    }
    .circle_red {
        height: 6px;
        width: 6px;
        background: rgb(149, 8, 15);
    }
    .header__appeal-text {
        padding-left: 6px;
        font-size: 8px;
    }
    .phone-link {
        font-size: 14px;
    }
    .header__phone-icon,
    .header__time-icon {
        height: 10px;
        width: 10px;
    }
    .header__time-text {
        font-size: 8px;
    }
    .schedule-button {
        height: 24px;
        width: 120px;
        border-radius: 12px;
        border: 2px solid transparent;
        box-shadow: 0px 2px 0 0 #ebeaea;
    }
    .schedule-button:focus {
        border: 2px solid black;
    }
    .scedule-button__icon {
        height: 10px;
        width: 10px;
    }
    .scedule-button__text {
        font-family: Museo Medium;
        font-size: 8px;
        padding-left: 6px;
    }
}

/* interlayer */






















@media (min-width: 768px) and (max-width: 991px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10%;
        height: 16vh;
    }
    .schedule-button {
        position: absolute;
        bottom: 40px;
        right: 120px;
        z-index: 90;
        transform: scale(1.5);

    }
    .header__info {
        display: none;
    }
    .map-display {
        position: absolute;
        top: 100px;
        left: 400px;
        height: 300px;
        width: 300px;
        background: #ffffff;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        
    }
    .burger-button {
        height: 22px;
        width: 30px;
        position: relative;
        cursor: pointer;
        z-index: 101;
    }
    .burger-button__line {
        height: 4px;
        width: 30px;
        background: #000;
        border-radius: 2px;
        position: absolute;
    }
    .burger-button__line-1 {
        top: 0;
        transition: 0.5s;
    }
    .burger-button__line-1_active {
        transform: translateY(11px) rotate(45deg);
        transition: 0.5s;
    }
    .burger-button__line-2 {
        top: 9px;
    }
    .burger-button__line-2_active {
        display: none;
    }
    .burger-button__line-3 {
        transition: 0.5s;
        top: 18px;
    }
    .burger-button__line-3_active {
        transform: translateY(-11px) rotate(-45deg);
        transition: 0.5s;
    }
    .header__mobile-menu_opened {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: peachpuff;
        z-index: 100;
    }
    
    
    .header__logo-container_mobile {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .header__logo_mobile {
        width: 145px;
        height: 65px;
    }
    .header__title_mobile {
        display: none;
    }
    .navigation_mobile {
        display: block;
    }
    .navigation-list_mobile {
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        
    }
    .navigation-link_mobile {
        text-decoration: none;
        color: #000;
        font-family: Museo Medium;
        font-size: 16px;
        line-height: 24px;
    }
    
    .header__location-container_mobile {
        position: absolute;
        top: 400px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
    }
    .header__map-icon_mobile {
        width: 40px;
        height: 40px;
    }
    .header__location-text_mobile {
        height: 20px;
        display: block;
        padding-left: 10px;
        margin-top: -10px;
    }
    .header__address_mobile {
        font-family: Museo Medium;
        font-style: normal;
        font-size: 16px;
    }
    .header__map-hover-link_mobile {
        display: none;
    }
    .map-display_mobile {
        display: none;
    }
    .header__map-hover-link_mobile:hover > .map-display_mobile {
        display: none;
    }
    
    .header__info_mobile {
        position: absolute;
        top: 460px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 90px;
        padding: 0;
    }
    .header__contact-info_mobile {
        display: flex;
        align-items: center;
    }
    .header__phone-icon-container_mobile,
    .header__time-icon-container_mobile {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__contact-info-text_mobile,
    .header__time-text_mobile{
        padding-left: 8px;
    }
    .header__appeal-to-call_mobile {
        display: none;
    }
    .circle {
        display: none;
    }
    .phone-link_mobile {
        font-family: Museo Bold;
        font-size: 16px;
        text-decoration: none;
        color: #000;
    }
    .header__phone-icon_mobile,
    .header__time-icon_mobile {
        height: 14px;
        width: 14px;
    }
    
    
    .header__work-hours_mobile {
        display: flex;
        align-items: center;
    }
    .header__time-text_mobile {
        font-family: Museo Medium;
        font-size: 16px;
    }
    
    
    .schedule-button_mobile {
        height: 3vw;
        width: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5vw;
        border: 0.14vw solid transparent;
        background: #ffffff;
        box-shadow: 0vw 0.2vw 0 0 #ebeaea;
        outline: none;
    }
    .schedule-button_mobile:focus {
        border: 0.14vw solid black;
    }
    .scedule-button__icon_mobile {
        height: 1vw;
        width: 1vw;
    }
    .scedule-button__text_mobile {
        font-family: Museo Medium;
        font-size: 1vw;
        padding-left: 0.5vw;
    }
    
}







@media (max-width: 767px) {
    .header {
        margin-top: 10px;
    }
    .schedule-button {
        position: absolute;
        bottom: 40px;
        right: 40px;
        z-index: 90;
        height: 30px;

    }
    .header__info {
        display: none;
    }
    .map-display {
        position: absolute;
        top: 60px;
        left: 300px;
        height: 250px;
        width: 250px;
        background: #ffffff;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        
    }
    .burger-button {
        height: 22px;
        width: 30px;
        position: relative;
        cursor: pointer;
        z-index: 101;
    }
    .burger-button__line {
        height: 4px;
        width: 30px;
        background: #000;
        border-radius: 2px;
        position: absolute;
    }
    .burger-button__line-1 {
        top: 0;
        transition: 0.5s;
    }
    .burger-button__line-1_active {
        transform: translateY(11px) rotate(45deg);
        transition: 0.5s;
    }
    .burger-button__line-2 {
        top: 9px;
    }
    .burger-button__line-2_active {
        display: none;
    }
    .burger-button__line-3 {
        transition: 0.5s;
        top: 18px;
    }
    .burger-button__line-3_active {
        transform: translateY(-11px) rotate(-45deg);
        transition: 0.5s;
    }
    .header__mobile-menu_opened {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: peachpuff;
        z-index: 100;
    }

    .header__logo-container_mobile {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .header__logo_mobile {
        width: 145px;
        height: 65px;
    }
    .header__title_mobile {
        display: none;
    }
    .navigation_mobile {
        display: block;
    }
    .navigation-list_mobile {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    .navigation-link_mobile {
        text-decoration: none;
        color: #000;
        font-family: Museo Medium;
        font-size: 14px;
        line-height: 20px;
    }
    .header__location-container_mobile {
        position: absolute;
        top: 280px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
    }
    .header__map-icon_mobile {
        width: 30px;
        height: 30px;
    }
    .header__location-text_mobile {
        height: 20px;
        display: block;
        padding-left: 10px;
        margin-top: -10px;
    }
    .header__address_mobile {
        font-family: Museo Medium;
        font-style: normal;
        font-size: 12px;
    }
    .header__map-hover-link_mobile {
        display: none;
    }
    .map-display_mobile {
        display: none;
    }
    .header__map-hover-link_mobile:hover > .map-display_mobile {
        display: none;
    }
    
    .header__info_mobile {
        position: absolute;
        top: 320px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 70px;
        padding: 0;
    }
    .header__contact-info_mobile {
        display: flex;
        align-items: center;
    }
    .header__phone-icon-container_mobile,
    .header__time-icon-container_mobile {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__contact-info-text_mobile,
    .header__time-text_mobile{
        padding-left: 8px;
    }
    .header__appeal-to-call_mobile {
        display: none;
    }
    .circle {
        display: none;
    }
    .phone-link_mobile {
        font-family: Museo Bold;
        font-size: 12px;
        text-decoration: none;
        color: #000;
    }
    .header__phone-icon_mobile,
    .header__time-icon_mobile {
        height: 14px;
        width: 14px;
    }
    
    
    .header__work-hours_mobile {
        display: flex;
        align-items: center;
    }
    .header__time-text_mobile {
        font-family: Museo Medium;
        font-size: 12px;
    }
    
    
    .schedule-button_mobile {
        height: 3vw;
        width: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5vw;
        border: 0.14vw solid transparent;
        background: #ffffff;
        box-shadow: 0vw 0.2vw 0 0 #ebeaea;
        outline: none;
    }
    .scedule-button__icon_mobile {
        height: 1vw;
        width: 1vw;
    }
    .scedule-button__text_mobile {
        font-family: Museo Medium;
        font-size: 1vw;
        padding-left: 0.5vw;
    }
}







@media (max-width: 480px) {
    .header__mobile-menu {
        overflow: hidden;
    }
    .header__location-container {
        display: none;
    }
    .header-info {
        display: none;
    }
    .header__address_mobile {
        font-size: 12px;
    }
    .burger-button {
        margin-right: 0;
    }
    .navigation-list_mobile {
        width: 100%;
    }
    .navigation-link_mobile {
        font-size: 14px;
        text-align: center;
    }
}