* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    width: 100%;
    background: url(../img/bg.png) no-repeat center top / cover;
    overflow-x: hidden;
}

