.main {
    height: 84vh;
}
.navigation_desktop {
    padding-left: 10vw;
}
.navigation-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 3vw;
    width: 80vw;
    background: #fff;
    border-radius: 0.2vw;
    box-shadow: 0vw 0.3vw 0 0 #f6f7f6;
}
.navigation-link {
    font-family: Museo Light;
    font-size: 0.75vw;
    text-decoration: none;
    color: #000;
}
.main-screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main-screen__text {
    padding-left: 15vw;
    padding-top: 6vw;
}
.main-screen__title {
    font-family: Museo Light;
    font-size: 1.6vw;
}
b.medium {
    font-family: Museo Medium;
}
.main-screen__advantages-list {
    padding-top: 3.4vw;
    padding-left: 1.8vw;
    padding-bottom: 2.8vw;
    list-style-type: circle;
}
.main-screen__advantages-list-item {
    color: #ef9499;
}
.main-screen__advantages-list-item span {
    color: #000;
    font-family: Museo Normal;
    font-size: 1vw;
}
.order-card-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 19vw;
    height: 4.4vw;
    border: 0;
    border-radius: 2.2vw;
    background: #f6a6a9;
    font-family: Museo Normal;
    font-size: 0.8vw;
    color: #fff;
    box-shadow: 0vw 0.3vw 0 0 #d7747a;
    letter-spacing: 0.05vw;
    padding-left: 2.5vw;
    outline: none;
    border: 0.2vw solid transparent;
    cursor: pointer;
}
.order-card-button:focus {
    border: 0.2vw solid black;
}
.order-card-button__branch-pic {
    height: 3.4vw;
    width: 10vw;
    margin-right: -5vw;
}
.main-screen__card {
    position: absolute;
    bottom: 25vh;
    left: 50vw;
    transform: translateX(-6vw);
    z-index: 5;
}
.main-screen__card-picture {
    height: 16.5vw;
    width: 12.5vw;
}
.main-screen__info-provider {
    position: absolute;
    bottom: 0.9vw;
    right: -1.55vw;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    z-index: 2;
}
.main-screen__info-pic {
    position: relative;
    height: 3vw;
    width: 3vw;
    z-index: 2;
    border-radius: 50%;
    animation: pulsation 2s linear infinite;

}
@keyframes pulsation {
    0% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0.15);
    }
    30% {
        box-shadow: 0 0 1vw 1vw rgba(0,0,0,0.15);
    }
    50% {
        box-shadow: 0 0 1vw 1vw rgba(0,0,0,0.1);
    }
    70% {
        box-shadow: 0 0 1vw 1vw rgba(0,0,0,0.0.5);
    }
    90% {
        box-shadow: 0 0 1vw 1vw transparent;
    }
}
.main-screen__info-text {
    position: absolute;
    right: -7.6vw;
    bottom: 1.8vw;
    height: 10.7vw;
    width: 9.1vw;
    border-radius: 0.5vw;
    background: #fff;
    font-family: Museo Normal;
    font-size: 0.8vw;
    letter-spacing: 0.1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    padding: 1vw;
    box-shadow: 0.5vw -0.5vw 0 0 rgba(255,255,255,0.45);
}
.main-screen__info-pic:hover + .main-screen__info-text {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;

}
.main-screen__girl-picture {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35vw;
    width: 40vw;
}
.popup-form-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.popup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 122;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vw;
    width: 39vw;
    border-radius: 3vw;
    background: #fdf2ee;
}
.popup-form::before {
    content: "";
    position: absolute;
    left: -5vw;
    top: 7vw;
    height: 20vw;
    width: 13vw;
    background: url(../img/book.png) no-repeat center top / contain;
}
.cross {
    position: absolute;
    top: 2vw;
    right: 2vw;
    height: 0.8vw;
    width: 0.8vw;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.cross-particle {
    position: absolute;
    top: 0.2vw;
    left: -0.1vw;
    height: 0.2vw;
    width: 1vw;
    background: #000;
}
.cross-particle_1 {
    transform: rotate(45deg);
}
.cross-particle_2 {
    transform: rotate(-45deg);
}

.popup-form__title {
    font-family: Museo Light;
    font-size: 1.8vw;
    padding-top: 2vw;
}
.normal {
    font-family: Museo Normal;
}
.popup-form__desc {
    font-family: Museo Light;
    font-size: 1vw;
    width: 60%;
    padding-top: 1vw;
    text-align: center;
}
.popup-form__form {
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
}
.popup-form__input, 
#education-select {
    height: 4vw;
    width: 26vw;
    border-radius: 2vw;
    padding: 0.5vw;
    border: 0;
    font-family: Museo Light;
    margin-bottom: 1vw;
}
.popup-form__submit-button {
    background: #f39ea2;
    font-family: Museo Bold;
    font-size: 1.2vw;
    cursor: pointer;
}

.message-box-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.message-box { 
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 122;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18vw;
    width: 27vw;
    border-radius: 3vw;
    background: #fdf2ee;
}
.message-box__tick-image {
    height: 8vw;
    width: 8vw;
}
.message-box__title {
    font-family: Museo Medium;
}
.message-box__text {
    font-family: Museo Light;
}

.parallax-spot-1,
.parallax-spot-2 {
    position: fixed;
    height: 12vw;
    width: 12vw;   
    z-index: 100;
}
.parallax-spot-1 {
    top: 30vh;
    left: 0;
}
.parallax-spot-2 {
    top: 10vh;
    right: -5vw;
}
.white-wave-patch {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -45vh;
    z-index: 8;
}

.scroll-button {
    position: absolute;
    left: 50%;
    bottom: 8vh;
    transform: translateX(-50%);
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 0.2vw solid #ef8a90;
    background: #fff;
    box-shadow: 0 0 0 1.4vw #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: pointer;
}
.arrow {
    position: absolute;
    height: 1.5vw;
    width: 2vw;
}
.scroll-button::before {
    content: "";
    position: absolute;
    top: 2.6vw;
    left: 1.1vw;
    height: 2vw;
    width: 0.2vw;
    background: #ef8a90;
}
.scroll-button::after {
    content: "";
    position: absolute;
    top: 4vw;
    left: 0.55vw;
    height: 1vw;
    width: 1vw;
    background: #fff;
    border-radius: 50%;
    border: 0.2vw solid #ef8a90;
}
.arrow-particle {
    position: absolute;
    top: 0.75vw;
    left: -0.1vw;
    height: 0.15vw;
    width: 1.4vw;
    background: #000;
}
.arrow-particle-1 {
    transform: rotate(45deg);
}
.arrow-particle-2 {
    transform: translateX(0.85vw) rotate(-45deg);
}

.section_white {
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100%;
    background: #fff;
}
















@media (min-width: 992px) and (max-width: 1199px) {
    .main {
        height: 84vh;
    }
    .navigation_desktop {
        padding-left: 10vw;
    }
    .navigation-list {
        height: 24px;
        width: 80vw;
        border-radius: 6px;
        box-shadow: 0px 2px 0 0 #f6f7f6;
    }
    .navigation-link {
        font-size: 8.5px;
    }
    .main-screen__text {
        padding-left: 150px;
        padding-top: 54px;
    }
    .main-screen__title {
        font-size: 16px;
    }
    .main-screen__advantages-list {
        padding-top: 30px;
        padding-left: 14px;
        padding-bottom: 20px;
    }
    .main-screen__advantages-list-item span {
        font-size: 10px;
    }
    .order-card-button {
        width: 180px;
        height: 36px;
        border-radius: 18px;
        font-size: 8px;
        box-shadow: 0 4px 0 0 #d7747a;
        letter-spacing: 1px;
        padding-left: 20px;
    }
    .order-card-button__branch-pic {
        height: 30px;
        width: 90px;
        margin-right: -45px;
    }
    .main-screen__card {
        bottom: 15vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-screen__card-picture {
        height: 150px;
        width: 112px;
    }
    
    .main-screen__info-provider {
        bottom: 9px;
        right: -14px;
        height: 30px;
        width: 30px;
    }
    .main-screen__info-pic {
        height: 30px;
        width: 30px;
    }
    @keyframes pulsation {
        0% {
            box-shadow: 0 0 0 0 rgba(0,0,0,0.15);
        }
        30% {
            box-shadow: 0 0 8px 8px rgba(0,0,0,0.15);
        }
        50% {
            box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);
        }
        70% {
            box-shadow: 0 0 8px 8px rgba(0,0,0,0.0.5);
        }
        90% {
            box-shadow: 0 0 8px 8px transparent;
        }
    }
    .main-screen__info-text {
        right: -75px;
        bottom: 19px;
        height: 110px;
        width: 90px;
        border-radius: 6px;
        font-size: 8px;
        letter-spacing: 1px;
        padding: 10px;
        box-shadow: 5px -5px 0 0 rgba(255,255,255,0.45);
    }
    .main-screen__girl-picture {
        height: 420px;
        width: 480px;
    }
}



















@media (min-width: 768px) and (max-width: 991px) {
    .navigation_desktop {
        display: none;
    }
    .main-screen__text {
        padding: 0 10%;
    }
    .main-screen__title {
        font-size: 26px;
    }
    .main-screen__advantages-list-item span {
        /* margin-left: -50px; */
        font-size: 20px;
    }
    .order-card-button {
        margin: 0;
    }
    .main-screen__card {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-screen__girl-picture {
        height: 280px;
        width: 320px;
    }
    
}



@media (max-width: 767px) {
    .navigation_desktop {
        display: none;
    }
    .main-screen__text {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .main-screen__title {
        padding-top: 20px;
        padding-left: 10%;
        font-size: 14px;
    }
    .main-screen__advantages-list {
        padding-left: 10%;
    }
    .main-screen__advantages-list-item span {
        font-size: 14px;
    }
    .order-card-button {
        margin-left: 10%;

        transform: scale(1);
    }
    .main-screen__card {
        display: none;
    }
    .main-screen__girl-picture {
        height: 210px;
        width: 240px;
    }




    .popup-form {
        height: 220px;
        width: 260px;
    }
    .popup-form::before {
        left: -45px;
        top: 49px;
        height: 140px;
        width: 91px;
    }
    .cross {
        top: 15px;
        right: 15px;
        height: 8px;
        width: 8px;
    }
    .cross-particle {
        height: 2px;
        width: 10px;
        background: #000;
    }
    .popup-form__title {
        font-family: Museo Light;
        font-size: 13px;
        padding-top: 20px;
    }
    .popup-form__desc {
        font-size: 8px;
        padding-top: 10px;
    }
    .popup-form__form {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
    }
    .popup-form__input, 
    #education-select {
        height: 24px;
        width: 180px;
        border-radius: 2vw;
        padding: 2px;
        margin-bottom: 6px;
        font-size: 12px;
    }
    .popup-form__submit-button {
        font-size: 10px;
    }
    
    .message-box { 
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 180px;
        width: 270px;
        border-radius: 20px;
        background: #fdf2ee;
    }
    .message-box__tick-image {
        height: 80px;
        width: 80px;
    }
    .scroll-button {
        display: none;
    }
}






















@media (max-width: 480px) {
    .main-screen__text {
        padding-left: 40px;
    }
    .main-screen__title {
        position: absolute;
        top: 16vh;
        left: 40px;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
    .main-screen__advantages-list {
        list-style: circle;
        padding-top: 80px;
        padding-left: 20px;
    }
    .main-screen__advantages-list-item span {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .order-card-button {
        width: 150px;
        height: 34px;
        border-radius: 17px;
        font-size: 8px;
        margin-top: 0;
    }
    .order-card-button__branch-pic {
        height: 20px;
        width: 60px;
        
    }
    .main-screen__card {
        display: none;
    }
    .white-wave-patch {
        bottom: -10vh;
    }
}